@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Trebuchet MS', 
		'Lucida Sans Unicode', 
		'Lucida Grande', 'Lucida Sans', 
		Arial, sans-serif;
	background: hotpink;
}

nav {
	height: 80px;
	background: hotpink;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0rem calc((100vw - 1300px) / 2);
}

.logo {
	color: yellow;
	font-family: 'Alex Brush';
	font-size: 3rem;
	font-weight: bold;
	font-style: italic;
	padding: 0 2rem;
}

nav a {
	text-decoration: none;
	color: black;
	padding: 0.2rem 1.5rem;
	transition: all 0.8s ease;
	border-bottom: 2px solid transparent;
}

nav a:hover {
	color: yellow;
	/* border-bottom-color: yellow; */
}

.footer-content p {
	background: white;
	text-align: center;
	font-size: 0.8rem;
}

.rights {
	padding-bottom: 1rem;
}

.footer-content h1 {
	background: white;
	border-top: 2px solid black;
	text-align: center;
	font-size: 1rem;
	padding-top: 0.5rem;
}

.footer-content {
	display: grid;
	width: 100%;
	height: auto;
}

.main-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	height: 100vh;
	padding: 0rem calc((100vw - 1300px) / 2);
	background: hotpink;
}

.column-left {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	color: black;
	padding: 0rem 2rem;
}

.column-left h1 {
	margin-bottom: 1rem;
	font-size: 3rem;
	color: black;
}

.column-left p {
	margin-bottom: 2rem;
	font-size: 1.5rem;
	line-height: 1.5;
	color: black;
}

button {
	padding: 1rem 3rem;
	font-size: 1rem;
	border: none;
	color: hotpink;
	background: white;
	cursor: pointer;
	border-radius: 50px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

button:hover {
	box-shadow: none;
	color: yellow;
}

.column-right {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0rem 2rem;
}

.donut-image {
	width: 100%;
	height: auto;
	max-height: 40rem;
	background: transparent;
}

.contact-page {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: black;
	padding: 0rem 2rem;
}

.contact-information {
	width: 60vw;
	max-width: 500px;
	padding: 0rem 0rem;
	margin-top: 2rem;
	margin-bottom: 2rem;
	border: none;
	text-align: center;
	background: white;
	border-radius: 5px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

tr td {
	background: white;
}

tr td:first-child {
	padding-right: 0;
	color: black;
	font-family: 'Alex Brush';
	font-size: 1.5rem;
	font-weight: bold;
}

.contact-page h1 {
	margin-top: 1rem;
	font-size: 2rem;
	color: black;
}

.contact-page p {
	font-size: 1.5rem;
	line-height: 1.5;
	width: 50vw;
}

.contact-form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	color: black;
	padding: 0rem 0rem;
	height: 80vh;
}

.contact-form input {
	width: 60vw;
	height: 3rem;
	background: white;
	border-radius: 5px;
	border: none;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.contact-form textarea {
	width: 60vw;
	height: 6rem;
	background: white;
	border-radius: 5px;
	border: none;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.contact-form label {
	margin-top: 1rem;
	color: yellow;
	font-family: 'Alex Brush';
	font-size: 1.5rem;
	font-weight: bold;
}

.send-button {
	padding: 0.5rem 2rem;
	margin-top: 1rem;
	margin-bottom: 2rem;
	font-size: 1rem;
	border: none;
	color: hotpink;
	background: white;
	cursor: pointer;
	border-radius: 50px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.send-button:hover {
	box-shadow: none;
	color: yellow;
}

.gallery-container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	padding: 0rem calc((100vw - 1300px) / 2);
}

.gallery-container img {
	padding: 0rem;
	max-width: 500px;
	height: auto;
	width: 100%;
	transition: all 0.5s ease;
}

.img-div {
	cursor: pointer;
	color: white;
	font-size: 0.5rem;
	margin-left: 2rem;
	margin-right: 2rem;
	margin-top: 2rem;
}

.img-div img {
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.img-div:hover { 
	& > p {
		opacity: 1;
	}
	& > img {
		opacity: 0.5;
	}
}

.img-div p {
	position: relative;
	top: -50%;
	background: transparent;
	opacity: 0;
	transition: opacity 0.5s ease;
	text-align: center;
	color: yellow;
	font-size: 1.7rem;
	font-family: 'Alex Brush';
	font-weight: bold;
	text-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

.gallery-content h1 {
	font-size: 2rem;
	color: black;
	text-align: center;
}

.gallery-content h1 {
	font-size: 2rem;
	color: black;
	text-align: center;
}

.gallery-content {
	padding: 1rem;
}

@media screen and (max-width: 1200px) {
	.gallery-container {
		grid-template-columns: 1fr 1fr 1fr;
	}
}

@media screen and (max-width: 900px) {
	.gallery-container {
		grid-template-columns: 1fr 1fr;
	}
}

@media screen and (max-width: 768px) {
	nav {
		height: 100px;
		background: hotpink;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		padding: 0rem calc((100vw - 1300px) / 2);
	}
	
	.main-container {
		/* grid-template-columns: 1fr; */
		display: block;
		margin-top: 2rem;
	}
	
	.main-content h1 {
		font-size: 2rem;
	}
	
	.main-content p {
		font-size: 1.2rem;
	}
	
	button {
		padding: 1rem 3rem;
		margin-bottom: 10px;
		font-size: 1rem;
		border: none;
		color: hotpink;
		background: white;
		cursor: pointer;
		border-radius: 50px;
		box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
	}
	
	.donut-image {
		width: 100%;
		max-width: 80vw;
		height: auto;
	}
	
	.gallery-container {
		display: block;
		text-align: center;
	}
	
	.contact-form input {
		width: 90vw;
		height: 2.6rem;
		background: white;
		border-radius: 10px;
		border: none;
	}

	.contact-form textarea {
		width: 90vw;
		height: 4rem;
		background: white;
		border-radius: 10px;
		border: none;
	}
	
	.contact-information {
		width: 90vw;
	}
	
	.img-div p {
		opacity: 1;
	}
	.img-div:hover { 
		& > img {
			opacity: 1;
		}
	}
}
