@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Trebuchet MS', 
		'Lucida Sans Unicode', 
		'Lucida Grande', 'Lucida Sans', 
		Arial, sans-serif;
	background: hotpink;
}

nav {
	height: 80px;
	background: hotpink;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0rem calc((100vw - 1300px) / 2);
}

.logo {
	color: yellow;
	font-family: 'Alex Brush';
	font-size: 3rem;
	font-weight: bold;
	font-style: italic;
	padding: 0 2rem;
}

nav a {
	text-decoration: none;
	color: black;
	padding: 0.2rem 1.5rem;
	transition: color 0.5s ease;
	transition: border-bottom 0.5s ease;
	border-bottom: 2px solid transparent;
}

nav a:hover {
	color: yellow;
	border-bottom-color: yellow;
}

.main-content {
	background: hotpink;
}

.main-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	height: 95vh;
	padding: 0rem calc((100vw - 1300px) / 2);
}

.column-left {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	color: black;
	padding: 0rem 2rem;
}

.column-left h1 {
	margin-bottom: 1rem;
	font-size: 3rem;
	color: black;
}

.column-left p {
	margin-bottom: 2rem;
	font-size: 1.5rem;
	line-height: 1.5;
	color: black;
}

button {
	padding: 1rem 3rem;
	font-size: 1rem;
	border: none;
	color: hotpink;
	background: white;
	cursor: pointer;
	border-radius: 50px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

button:hover {
	box-shadow: none;
	color: yellow;
}

.column-right {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0rem 2rem;
}

.donut-image {
	width: 100%;
	height: auto;
}

.contact-page {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: black;
	padding: 0rem 2rem;
}

.contact-information {
	width: 60vw;
	padding: 2rem 0rem;
	/*border: 2px solid red;*/
	text-align: center;
}

tr td:first-child {
	padding-right: 0;
	color: yellow;
	font-family: 'Alex Brush';
	font-size: 1.5rem;
}

.contact-page h1 {
	margin-top: 1rem;
	font-size: 2rem;
	color: black;
}

.contact-page p {
	font-size: 1.5rem;
	line-height: 1.5;
	width: 50vw;
}

.contact-form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	color: black;
	padding: 0rem 2rem;
	height: 80vh;
}

.contact-form input {
	width: 60vw;
	height: 3rem;
	background: white;
	border-radius: 10px;
	border: none;
}

.contact-form textarea {
	width: 60vw;
	height: 6rem;
	background: white;
	border-radius: 10px;
	border: none;
}

.contact-form placeholder {

}

.contact-form label {
	margin-top: 1rem;
	color: yellow;
	font-family: 'Alex Brush';
	font-size: 1.5rem;
}

.send-button {
	padding: 0.5rem 2rem;
	margin-top: 1rem;
	margin-bottom: 2rem;
	font-size: 1rem;
	border: none;
	color: hotpink;
	background: white;
	cursor: pointer;
	border-radius: 50px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.send-button:hover {
	box-shadow: none;
	color: yellow;
}

.gallery-container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	height: 95vh;
	padding: 0rem calc((100vw - 1300px) / 2);
}

.gallery-container img {
	padding: 2rem;
	max-width: 500px;
	height: auto;
	width: 100%;
}

.gallery-container img:hover {
	filter: blur(2px);
}

.gallery-content h1 {
	margin-top: 1rem;
	font-size: 2rem;
	color: black;
	text-align: center;
}

@media screen and (max-width: 1200px) {
	.gallery-container {
		grid-template-columns: 1fr 1fr 1fr;
	}
}

@media screen and (max-width: 900px) {
	.gallery-container {
		grid-template-columns: 1fr 1fr;
	}
}

@media screen and (max-width: 768px) {
	nav {
		height: 80px;
		background: hotpink;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		padding: 0rem calc((100vw - 1300px) / 2);
	}
	
	.main-container {
		grid-template-columns: 1fr;
	}
	
	nav {
		height: 100px;
		background: hotpink;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0rem calc((100vw - 1300px) / 2);
	}
	
	.main-content {
		margin-top: 40px;
	}
	
	.main-content h1 {
		font-size: 2rem;
	}
	
	.main-content p {
		font-size: 1.2rem;
	}
	
	button {
		padding: 1rem 3rem;
		margin-bottom: 10px;
		font-size: 1rem;
		border: none;
		color: hotpink;
		background: white;
		cursor: pointer;
		border-radius: 50px;
		box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
	}
	
	.gallery-container {
		display: block;
	}
	
	.contact-form input {
		width: 90vw;
		height: 2.6rem;
		background: white;
		border-radius: 10px;
		border: none;
	}

	.contact-form textarea {
		width: 90vw;
		height: 4rem;
		background: white;
		border-radius: 10px;
		border: none;
	}
	
	.contact-information {
		width: 90vw;
		padding: 2rem 0rem;
	}
}